generators/app/templates/config/definitions/io-config.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="io-config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="services">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="end-point" maxOccurs="unbounded" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="path" maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="method" maxOccurs="unbounded" minOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="method" name="method" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="path" name="path" use="required"/>
                                                            <xs:attribute type="servicetype" name="type" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="url" name="host" use="required"/>
                                                <xs:attribute type="validation" name="validation" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="NonEmptyString" name="name" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="oneCustomerOrdersforEachCustomerID">
                        <xs:selector xpath="service"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="resources">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resource" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="url" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="servicetype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OctetBinary" />
            <xs:enumeration value="RestJson" />
            <xs:enumeration value="RestXml" />
            <xs:enumeration value="SoapXml" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="url">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:pattern value="(http|https)://((\w)*|([0-9]*)|([-|_])*)+([\.|/]((\w)*|([0-9]*)|([-|_])*))+" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="method">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GET" />
            <xs:enumeration value="POST" />
            <xs:enumeration value="HEAD" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="validation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Extreme" />
            <xs:enumeration value="Extended" />
            <xs:enumeration value="Normal" />
            <xs:enumeration value="None" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="path">
        <xs:restriction base="xs:string">
            <xs:pattern value="/(.*)" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>